Repository Ethglobal-taipei/Admojo-web, changes with the labels that .github/labeler.yml gives for each.
All labels: app, components, styles, public, api, libs, utils, docs

.github/labeler.yml:

app:
  - 'app/**'
components:
  - 'components/**'
styles:
  - 'styles/**'
public:
  - 'public/**'
api:
  - 'app/api/**'
libs:
  - 'lib/**'
utils:
  - 'utils/**'
docs:
  - 'README.md'
  - 'LICENSE'

Feat: created basic next app
  .gitignore
  README.md
  components.json
  eslint.config.mjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/lib/utils.ts
  tsconfig.json
Labels: public, docs

fix: removed pnpm tests
  .github/workflows/ci.yml
Labels: none

chore: forge init
  admojo-contracts/.github/workflows/test.yml
  admojo-contracts/.gitignore
  admojo-contracts/README.md
  admojo-contracts/foundry.toml
  admojo-contracts/script/Counter.s.sol
  admojo-contracts/src/Counter.sol
  admojo-contracts/test/Counter.t.sol
Labels: none

forge install: forge-std
  .gitmodules
Labels: none

feat: Add contract logics
  admojo-contracts/src/BoothRegistery.sol
  admojo-contracts/src/Counter.sol
  admojo-contracts/src/PerformanceOracle.sol
Labels: none

Add: write tests for BoothRegister
  admojo-contracts/test/BoothRegistery.t.sol
  admojo-contracts/test/Counter.t.sol
Labels: none

test: write tests for performanceoracle
  admojo-contracts/test/PerformanceOracle.t.sol
Labels: none

chore: add deploy scripts
  admojo-contracts/remappings.txt
  admojo-contracts/script/Counter.s.sol
  admojo-contracts/script/DeployContracts.s.sol
Labels: none

wip : work in progress for analytics UI
  pnpm-lock.yaml
  src/app/analytics/page.tsx
  src/app/booked-locations/page.tsx
  src/app/browse-locations/loading.tsx
  src/app/browse-locations/page.tsx
Labels: none

feat: campaigns page
  src/app/campaigns/[id]/manage/page.tsx
  src/app/campaigns/[id]/page.tsx
  src/app/campaigns/create/page.tsx
  src/app/campaigns/page.tsx
Labels: none

work in progress
  src/app/globals.css
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/providers.tsx
Labels: none

feat:ui integration
  src/app/blockchain-demo/page.tsx
  src/app/contract-demo/page.tsx
  src/app/swap/page.tsx
Labels: none

wip:add integrations
  src/app/dashboard/advertiser/page.tsx
  src/app/dashboard/campaigns/[id]/page.tsx
  src/app/dashboard/campaigns/create/page.tsx
  src/app/dashboard/campaigns/index.tsx
  src/app/dashboard/components/campaign-creator.tsx
  src/app/dashboard/components/create-campaign.tsx
  src/app/dashboard/components/dashboard-header.tsx
  src/app/dashboard/components/display-map.tsx
  src/app/dashboard/components/kpi-cards.tsx
  src/app/dashboard/components/performance-analytics.tsx
  src/app/dashboard/components/transaction-history.tsx
  src/app/dashboard/page.tsx
  src/app/locations/[id]/page.tsx
  src/app/locations/loading.tsx
  src/app/locations/page.tsx
  src/app/my-locations/loading.tsx
  src/app/my-locations/locations.tsx
  src/app/my-locations/page.tsx
  src/app/my-locations/register/page.tsx
Labels: none

wip: api scripts and integrations
  src/app/api/advertiser/route.ts
  src/app/api/analytics/campaigns/route.ts
  src/app/api/campaigns/create/route.ts
  src/app/api/metal/route.ts
  src/app/api/metal/tokenomics/create-holder/route.ts
  src/app/api/metal/tokenomics/purchase-adc/route.ts
  src/app/api/metal/tokenomics/trigger-hourly-payments/route.ts
  src/app/api/providers/register/route.ts
  src/app/api/users/[address]/balances/route.ts
  src/app/api/users/[address]/route.ts
  src/app/api/users/[address]/stats/route.ts
  src/app/api/users/[address]/transactions/export/route.ts
  src/app/api/users/[address]/transactions/route.ts
  src/app/api/users/route.ts
  src/app/api/verify/route.ts
  src/app/api/webhooks/[...path]/route.ts
  src/app/api/webhooks/route.ts
  src/app/api/webhooks/test/route.ts
Labels: none

feat : integrate routes for provider and advertiser management
  src/app/api/provider/locations/[id]/page.tsx
  src/app/api/provider/locations/edit/[id]/page.tsx
  src/app/api/provider/locations/loading.tsx
  src/app/api/provider/locations/page.tsx
  src/app/onboarding/page.tsx
  src/app/provider-account/page.tsx
  src/app/provider-analytics/page.tsx
  src/app/provider-dashboard/page.tsx
Labels: none

feat : hooks integration for proper reusability
  src/hooks/index.ts
  src/hooks/use-ad-contract-compat.tsx
  src/hooks/use-ad-contract.tsx
  src/hooks/use-async.tsx
  src/hooks/use-blockchain-service.tsx
  src/hooks/use-booth-manager.ts
  src/hooks/use-booth-registry.tsx
  src/hooks/use-centralized-blockchain.tsx
  src/hooks/use-location-data.tsx
  src/hooks/use-map.ts
  src/hooks/use-metrics.tsx
  src/hooks/use-performance-oracle.tsx
  src/hooks/use-provider-hooks.tsx
  src/hooks/use-verification-data.tsx
Labels: none

types : add types for proper integration
  src/types/campaign.ts
  src/types/location.ts
  src/types/self.d.ts
Labels: none

wip : provider integration under development
  src/scripts/pollIoTMetrics.ts
  src/scripts/updateAdMetrics.ts
Labels: none

feat : integrate provider flow
  src/app/provider-registration/page.tsx
  src/app/role-transition/loading.tsx
  src/app/role-transition/page.tsx
Labels: none

feat : integrate provider flow
  src/app/provider/locations/[id]/page.tsx
  src/app/provider/locations/edit/[id]/page.tsx
  src/app/provider/locations/loading.tsx
  src/app/provider/locations/page.tsx
  src/app/settings/page.tsx
Labels: none

feat: add singleton functions for custom fetching
  admojo-contracts/src/BoothRegistery.sol
  admojo-contracts/src/PerformanceOracle.sol
  admojo-contracts/test/PerformanceOracle.t.sol
Labels: none

fix: metrics data retrieved with correct timestamp logic
  admojo-contracts/src/PerformanceOracle.sol
  src/lib/blockchain/performance-oracle-service.ts
Labels: none

chore: update payment distribution logic with taps and views and cronjob running every 5 min
  src/lib/cron/cronjob-api.ts
  src/lib/cron/process-hourly-payments.ts
Labels: none

feat : register location modal working
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250405021519_test/migration.sql
  prisma/migrations/20250405075501_add_holder_address_to_campaign/migration.sql
  prisma/migrations/20250405134343_add_holder_address_to_campaign/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  public /file.svg
  public /globe.svg
  public /marker-active-pulse.svg
  public /marker-active.svg
  public /marker-inactive-pulse.svg
  public /marker-inactive.svg
  public /marker-selected.svg
  public /next.svg
  public /registration-phase.jpg
  public /vercel.svg
  public /window.svg
  src/app/browse-locations/page.tsx
  src/app/layout.tsx
  src/app/locations/loading.tsx
  src/app/locations/page.tsx
  src/app/my-locations/locations.tsx
  src/app/provider-dashboard/page.tsx
  src/components/app-wrapper.tsx
  src/components/modals/add-funds-modal.tsx
  src/components/modals/register-location-modal.tsx
  src/hooks/use-location-data.tsx
Labels: none

wip : provider loading issue
  src/app/my-locations/locations.tsx
  src/components/display-overview.tsx
Labels: none

wip : metal integration
  src/app/api/campaigns/create/[id]/budget/route.ts
  src/app/api/campaigns/create/[id]/route.ts
  src/app/api/campaigns/create/latest/route.ts
  src/app/api/metal/tokenomics/campaign-holder/route.ts
  src/app/api/metal/tokenomics/purchase-adc/route.ts
Labels: none

chore
  public /file.svg
  public /globe.svg
  public /marker-active-pulse.svg
  public /marker-active.svg
  public /marker-inactive-pulse.svg
  public /marker-inactive.svg
  public /marker-selected.svg
  public /next.svg
  public /registration-phase.jpg
  public /vercel.svg
  public /window.svg
Labels: none

feat: add nodit websockets for automatic payment processing
  src/lib/blockchain/performance-oracle-watcher.ts
  src/lib/cron/process-hourly-payments.ts
  websocket-event-guide.md
Labels: none

done
  public/file.svg
  public/globe.svg
  public/marker-active-pulse.svg
  public/marker-active.svg
  public/marker-inactive-pulse.svg
  public/marker-inactive.svg
  public/marker-selected.svg
  public/next.svg
  public/registration-phase.jpg
  public/vercel.svg
  public/window.svg
Labels: public

domne
  package.json
  pnpm-lock.yaml
  src/components/display-overview.tsx
  websocket-event-guide.md
Labels: none

chore: update contract
  admojo-contracts/src/PerformanceOracle.sol
  admojo-contracts/test/BoothRegistery.t.sol
  admojo-contracts/test/PerformanceOracle.t.sol
Labels: none

wip
  prisma/migrations/20250405190237_test/migration.sql
  src/app/api/users/create/route.ts
  src/lib/cron/process-hourly-payments.ts
Labels: none

feat: integrated self for providers
  .cursor/rules/Metal_documentation.mdc
  .cursor/rules/coding-preferences.mdc
  .cursor/rules/description.mdc
  .cursor/rules/project-flow.mdc
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250405183016_add_provider_fields/migration.sql
  prisma/migrations/20250405184210_update_user_provider_models/migration.sql
  prisma/schema.prisma
  src/app/account/page.tsx
  src/app/api/provider/data/route.ts
  src/app/api/provider/register/route.ts
  src/app/api/verify/route.ts
  src/app/provider-account/page.tsx
  src/app/provider-dashboard/page.tsx
  src/app/provider-registration/page.tsx
  src/hooks/use-provider.ts
  src/lib/auth.ts
  src/types/self.d.ts
Labels: none

feat : metal campaign integration
  src/app/api/metal/route.ts
  src/app/api/metal/tokenomics/balances/route.ts
  src/app/api/metal/tokenomics/purchase-adc/route.ts
  src/app/api/metal/tokenomics/withdraw/route.ts
  src/app/api/users/[id]/update-holder/route.ts
  src/app/api/users/check/route.ts
  src/app/dashboard/components/campaign-creator.tsx
  src/components/modals/create-campaign-modal.tsx
  src/components/swap-interface.tsx
  src/lib/hooks/useWallet.ts
  src/lib/hooks/useWalletConnect.tsx
  src/lib/services/tokenomics.service.ts
  src/lib/store/useUserStore.ts
Labels: none

Feat: Added customer-self verification and on-chain data transfer.
  package.json
  pnpm-lock.yaml
  src/app/api/geturl/route.ts
  src/app/api/registerTap/route.ts
  src/app/api/verify/status/route.ts
  src/app/provider-dashboard/page.tsx
  src/app/tap/page.tsx
  src/hooks/use-blockchain-service.tsx
  src/hooks/use-location-data.tsx
  src/lib/PerformanceOracleABI.json
  src/lib/blockchain.ts
  src/lib/thingspeak.ts
Labels: none

fix: integration fixes
  src/app/account/page.tsx
  src/app/api/metal/tokenomics/balance/route.ts
  src/app/api/metal/tokenomics/balances/route.ts
  src/app/api/users/[address]/update-holder/route.ts
  src/app/dashboard/components/dashboard-header.tsx
  src/components/shared/balance-card.tsx
  src/lib/services/tokenomics.service.ts
  src/lib/store/useUserStore.ts
Labels: none

fix : integrate metal
  src/app/api/metal/tokenomics/balance/route.ts
  src/app/api/users/find/route.ts
  src/app/dashboard/components/dashboard-header.tsx
  src/lib/services/tokenomics.service.ts
Labels: none

fix : fix UI discripency
  src/app/provider-dashboard/page.tsx
  src/components/earnings-payments.tsx
Labels: none

done
  src/app/api/campaigns/[id]/budget/route.ts
  src/app/api/campaigns/[id]/status/route.ts
  src/app/api/campaigns/create/route.ts
  src/app/api/metal/tokenomics/campaign-holder/route.ts
  src/app/api/users/find/route.ts
  src/app/campaigns/[id]/page.tsx
  src/app/campaigns/page.tsx
  src/components/campaign/CampaignLocationBalances.tsx
  src/components/campaign/LocationCampaignHistory.tsx
  src/lib/db.ts
  src/lib/services/tokenomics.service.ts
Labels: none

feat: add websocket connection
  prisma/migrations/20250406075309_add_blockchain_payment_models/migration.sql
  prisma/schema.prisma
  scripts/apply-migrations.sh
  src/app/api/blockchain/websocket/route.ts
  src/app/api/payments/trigger/route.ts
  src/lib/blockchain/websocket-manager.ts
  src/lib/cron/process-payments.ts
Labels: none
